<launch>

  <!-- Use sim time. -->
  <!-- <param name="/use_sim_time" value="true" />-->

  <!-- Map server -->
  <arg name="map_file" default="$(find pr2_eup)/map/workshop_map_tables.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

  <!-- Localization -->
  <arg name="initial_pose_x" default="0.0"/>
  <arg name="initial_pose_y" default="0.0"/>
  <arg name="initial_pose_a" default="0.0"/>
  <include file="$(find turtlebot_navigation)/launch/includes/amcl.launch.xml">
    <arg name="initial_pose_x" value="$(arg initial_pose_x)"/>
    <arg name="initial_pose_y" value="$(arg initial_pose_y)"/>
    <arg name="initial_pose_a" value="$(arg initial_pose_a)"/>
  </include>

  <!-- Move base -->
  <include file="$(find turtlebot_navigation)/launch/includes/move_base.launch.xml"/>

  <!-- Websocket -->
  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" />

  <!-- Sound -->
  <include file="$(find sound_play)/soundplay_node.launch" />

  <!-- Speech recognition backend -->

  <node name="recognizer" pkg="pocketsphinx" type="recognizer.py" output="screen">
    <param name="lm" value="$(find pr2_eup)/speech/commands.lm"/>
    <param name="dict" value="$(find pr2_eup)/speech/commands.dic"/>
  </node>

</launch>
